body {
  margin: 0;
  background-color: #f2f2f2; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-color: #f2f2f2; }

.left {
  width: 15%;
  background-color: #30303e;
  height: auto;
  border-bottom: 1px solid black;
  float: left;
  position: fixed;
  z-index: 1;
  overflow-x: hidden; }

.lheader {
  margin: 20px 0 30px 0;
  border-bottom: 1px solid black; }

.logo {
  color: white;
  padding-left: 20px;
  height: 55px;
  padding-top: 10px;
  font-size: 35px;
  font-weight: bold; }

.dash {
  list-style-type: none; }

.hicon {
  width: 20px; }

.dashl {
  color: white;
  padding-bottom: 5px; }

.dashi {
  padding-right: 12px; }

.arrowb {
  background-color: #30303e;
  border: 1px solid #30303e;
  float: right; }

.aimg {
  width: 15px; }

.dropdown-container {
  display: none;
  background-color: #454654;
  padding-left: 8px; }

.dlink {
  color: white; }

#arrowb:active {
  transform: rotate(90deg); }

.l2h {
  color: white;
  padding-left: 20px; }

.badge {
  border-radius: 50%;
  background-color: #8c538c;
  color: white; }

.dashll {
  color: white;
  padding-bottom: 5px; }

.dashll .badge {
  background-color: red; }

.upbut {
  background-color: #4ddbff;
  border: none;
  color: white; }

.right {
  width: 85%;
  height: auto;
  float: right; }

.header {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.36);
  overflow: hidden;
  padding-bottom: 20px;
  background-color: white; }

.hleft {
  width: 20%;
  float: left;
  padding-top: 20px; }

.hbutt {
  background-color: white;
  border: none; }

.arrowd {
  background-color: white;
  border: none; }

.tbut {
  float: left;
  width: 25%;
  padding: 10px 0 0 10px; }

.timg {
  width: 35px;
  cursor: pointer; }

.sbut {
  width: 25%;
  float: left;
  padding-top: 10px; }

.simg {
  width: 35px; }

.sqbut {
  float: left;
  width: 25%;
  padding-top: 10px; }

.sqimg {
  width: 35px; }

.mega {
  float: right;
  width: 25%;
  padding-top: 10px; }

.smega {
  padding-right: 5px; }

.daimg {
  width: 10px; }

.dropdown {
  display: none;
  background-color: grey;
  padding-left: 8px; }

.hright {
  width: 40%;
  float: right;
  padding-top: 20px; }

.hr1 {
  width: 25%;
  float: left;
  padding-top: 10px;
  padding-left: 31px; }

.flagimg {
  width: 30px; }

.hr2 {
  width: 25%;
  float: left;
  padding-top: 10px;
  padding-left: 100px; }

.bellimg {
  width: 30px;
  position: relative; }

.bbadge {
  position: absolute;
  top: 18px;
  padding: 0px 7px;
  border-radius: 50%;
  background-color: red;
  color: white; }

.bnot {
  padding-left: 12px; }

.hr3 {
  width: 25%;
  float: left;
  padding-top: 10px;
  padding-left: 60px; }

.messimg {
  width: 30px;
  position: relative; }

.mbadge {
  position: absolute;
  top: 18px;
  padding: 0px 7px;
  border-radius: 50%;
  background-color: #66e0ff;
  color: white; }

.hr4 {
  width: 25%;
  float: right;
  padding-top: 10px; }

.imgicon {
  width: 40px;
  border-radius: 50%; }

.heading {
  width: 100%;
  height: auto;
  background-color: #f2f2f2; }

.head {
  width: 20%;
  height: auto;
  padding: 50px 0 0 50px; }

.home {
  color: #8c538c; }

.cards {
  color: grey; }

.heading2 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  overflow: hidden; }

.h2left {
  width: 20%;
  float: left;
  padding: 50px 0 0 50px; }

.uct {
  color: grey; }

.h2right {
  float: right;
  width: 25%;
  padding: 50px 0 0 50px; }

.hul {
  list-style-type: none; }

.hli {
  border: 1px solid #8c538c;
  float: left;
  padding: 5px 14px 5px 15px; }

.hli a {
  text-decoration: none; }

.hli a:hover {
  text-decoration: none; }

.seti {
  padding-right: 10px; }

.setimg {
  width: 25px; }

.l1 {
  color: #8c538c; }

.davimg {
  width: 25px; }

.bookimg {
  width: 25px; }

.diaimg {
  width: 25px; }

.content {
  width: 100%;
  height: auto;
  margin-bottom: 60px; }

.content1 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding: 50px 0 0 50px;
  overflow: hidden; }

.contenth {
  width: 50%;
  margin-bottom: 15px; }

.contentb {
  width: 100%;
  overflow: hidden; }

.card1 {
  width: 25%;
  float: left; }

.card2 {
  width: 25%;
  float: left; }

.card3 {
  width: 25%;
  float: left; }

.card4 {
  width: 25%;
  float: right; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  height: auto;
  padding-bottom: 15px; }

.container {
  padding: 2px 16px;
  padding-top: 30px; }

.pimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
  margin-top: 50px; }

h4 {
  text-align: center; }

p {
  text-align: center;
  color: grey; }

.fbimg {
  width: 30%;
  border: 1px solid #7d98b5;
  border-radius: 5px; }

.twitimg {
  width: 30%;
  border: 1px solid #9c93cc;
  border-radius: 5px; }

.linkimg {
  width: 30%;
  border: 1px solid #7ca07f;
  border-radius: 5px; }

.icons {
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
  margin-left: 25px; }

.icon1 {
  width: 33.333%;
  float: left;
  margin-left: 60px; }

.icon2 {
  width: 33.333%;
  float: left;
  margin-left: -45px; }

.icon3 {
  width: 33.333%;
  float: right;
  margin-left: -72px;
  margin-right: 29px; }

.sborder {
  color: #843636;
  background-color: rgba(214, 199, 199, 0.5); }

.cardb1 {
  border: 1px solid grey !important; }

.cardb1:hover {
  border: 1px solid red !important; }

.cardb2 {
  border: 1px solid grey !important; }

.cardb2:hover {
  border: 1px solid green !important; }

.cardb3 {
  border: 1px solid grey !important; }

.cardb3:hover {
  border: 1px solid yellow !important; }

.cardb4 {
  border: 1px solid grey !important; }

.cardb4:hover {
  border: 1px solid blue !important; }

.bshadow {
  box-shadow: 0 4px 8px 0 black !important; }

.card41 {
  width: 33.333%;
  float: left; }

.card43 {
  width: 33.333%;
  float: left; }

.buttd {
  width: 100%;
  overflow: hidden; }

.but1 {
  width: 20%;
  float: left;
  margin-left: 100px; }

.fbut {
  background-color: #f31a1ad1;
  color: white;
  border: none; }

.follimg {
  width: 25px; }

.but2 {
  width: 20%;
  float: right;
  margin-right: 100px; }

.pbut {
  background-color: #8c538c;
  color: white;
  border: none; }

.proimg {
  width: 25px; }

.listitem {
  width: 100%;
  margin-top: 15px; }

.list {
  list-style-type: none;
  margin-left: -40px; }

.item {
  color: #8c538c;
  border-top: 1px solid grey;
  margin-top: 10px; }

.item a {
  text-decoration: none;
  color: #8c538c;
  margin-left: 40px; }

.item a:hover {
  text-decoration: none;
  color: #8c538c; }

.overi {
  margin-right: 10px; }

.overimg {
  width: 30px; }

.ename {
  color: black; }

.box {
  border: 1px solid #94cff9;
  border-radius: 3%;
  width: 100%;
  height: 70px; }

.boxm {
  border: 1px solid #94cff9;
  border-radius: 37px;
  width: 100%;
  height: 70px; }

.boxr {
  border: 1px solid #94cff9;
  width: 100%;
  height: 70px; }

.box1 {
  width: 20%;
  float: left;
  height: 100%;
  border-right: 1px solid #94cff9;
  color: #94cff9;
  padding: 10px 0 0 30px; }

.box5 {
  width: 20%;
  float: right;
  height: 100%;
  border-right: none;
  color: #94cff9;
  padding: 10px 0 0 30px; }

.bellsimg {
  width: 18px; }

.para {
  width: 100%;
  height: auto;
  margin-top: 30px; }

.spara {
  color: black; }

.butttd {
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }

.fbuttl {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 3%; }

.pbuttl {
  background-color: white;
  color: #8c538c;
  border: 1px solid #8c538c;
  padding-right: 5px;
  border-radius: 3%; }

.fbuttm {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 37px; }

.pbuttm {
  background-color: white;
  color: #8c538c;
  border: 1px solid #8c538c;
  padding-right: 5px;
  border-radius: 37px; }

.fbuttr {
  background-color: white;
  color: red;
  border: 1px solid red; }

.pbuttr {
  background-color: white;
  color: #8c538c;
  border: 1px solid #8c538c;
  padding-right: 5px; }

.cimg {
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 50%; }

.cimgg {
  background-image: url(../img/card.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 50%; }

.pcimg {
  margin-top: 36%;
  margin-left: 150px; }

.ppimg {
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.iconfb {
  width: 25%;
  float: left; }

.icontwit {
  width: 25%;
  float: left; }

.iconlink {
  width: 25%;
  float: left; }

.icongit {
  width: 25%;
  float: right; }

.iconimgs {
  width: 50%;
  border: 1px solid #7ca07f;
  border-radius: 5px; }

.iconss {
  padding-top: 20px;
  width: 75%;
  overflow: hidden;
  margin-left: 65px; }

.footer {
  width: 100%;
  height: auto;
  background-color: white;
  overflow: hidden;
  padding-bottom: 10px; }

.fleft {
  width: 25%;
  height: auto;
  float: left;
  margin-top: 20px;
  margin-left: 50px; }

.copy {
  color: grey; }

.pix {
  color: black;
  font-weight: bold; }

.fright {
  width: 25%;
  height: auto;
  float: right;
  margin-top: 20px; }

.rheart {
  width: 20px; }

.closed {
  float: right; }

.closebut {
  width: 35px;
  background-color: #2e3040;
  border: none; }

.closeimg {
  width: 12px; }

/*# sourceMappingURL=style.css.map */
